<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.ClientRepository">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO clients (first_name, last_name, email, phone_number, reg_date)
        VALUES (#{firstName}, #{lastName}, #{email}, #{phoneNumber}, #{registrationDate})
    </insert>

    <sql id="clientSelect">
        SELECT c.id, c.first_name, c.last_name, c.email, c.phone_number, c.reg_date
        FROM clients c
    </sql>

    <delete id="deleteById">
        DELETE FROM clients c WHERE c.id = #{id}
    </delete>

    <update id="update">
        UPDATE clients
        SET
            first_name = #{firstName},
            last_name = #{lastName},
            email = #{email},
            phone_number = #{phoneNumber},
            reg_date = #{registrationDate}
        WHERE
            id = #{id}
    </update>


    <select id="findById">
        <include refid="clientSelect"/>
        WHERE c.id = #{id}
    </select>

    <select id="findAll" resultMap="ClientResultMap">
        <include refid="clientSelect"/>
    </select>

    <resultMap id="ClientResultMap" type="com.solvd.domain.Client" autoMapping="false">
        <id column="id" property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="email" property="email"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="reg_date" property="registrationDate"/>
    </resultMap>

    <resultMap id="ClientResultMapForRealEstate" type="com.solvd.domain.Client" autoMapping="false">
        <id column="seller_id" property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="email" property="email"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="reg_date" property="registrationDate"/>
    </resultMap>
</mapper>