<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.EmployeeRepository">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO employees (first_name, last_name, email, phone_number, employee_position, hire_date, salary)
        VALUES (#{firstName}, #{lastName}, #{email}, #{phoneNumber}, #{position}, #{hireDate}, #{salary})
    </insert>

    <sql id="employeeSelect">
        SELECT e.id, e.first_name, e.last_name, e.email, e.phone_number, e.employee_position, e.hire_date, e.salary
        FROM employees e
    </sql>

    <delete id="deleteById">
        DELETE FROM employees e WHERE e.id = #{id}
    </delete>

    <update id="update">
        UPDATE employees
        SET
        first_name = #{firstName},
        last_name = #{lastName},
        email = #{email},
        phone_number = #{phoneNumber},
        employee_position = #{position},
        hire_date = #{hireDate},
        salary = #{salary}
        WHERE
        id = #{id}
    </update>

    <select id="findById" resultMap="EmployeeResultMap">
        <include refid="employeeSelect"/>
        WHERE e.id = #{id}
    </select>

    <select id="findAll" resultMap="EmployeeResultMap">
        <include refid="employeeSelect"/>
    </select>

    <resultMap id="EmployeeResultMap" type="com.solvd.domain.Employee" autoMapping="false">
        <id column="id" property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="email" property="email"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="employee_position" property="position"/>
        <result column="hire_date" property="hireDate"/>
        <result column="salary" property="salary"/>
    </resultMap>

</mapper>