<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.persistence.RealEstateRepository">
    <insert id="create" keyColumn="id" keyProperty="realEstate.id" useGeneratedKeys="true">
        INSERT INTO real_estates (price, is_available, real_estate_description, real_estate_type, metrics, rooms, seller_id, address_id)
        VALUES (#{realEstate.price}, #{realEstate.isAvailable}, #{realEstate.description}, #{realEstate.realEstateType},
        #{realEstate.metrics}, #{realEstate.rooms}, #{clientId}, #{addressId})
    </insert>

    <sql id="realEstateSelect">
        SELECT
            re.id AS real_estate_id, re.price, re.is_available, re.real_estate_description, re.real_estate_type, re.metrics, re.rooms,
            a.id, a.country, a.region, a.city, a.street, a.building, a.apartment,
            c.id AS client_id, c.first_name, c.last_name, c.email, c.phone_number, c.reg_date
        FROM real_estates re
        LEFT JOIN addresses a ON re.address_id = a.id
        LEFT JOIN clients c ON re.seller_id = c.id
        LEFT JOIN photo_links pl ON pl.real_estate_id = re.id
        LEFT JOIN real_estate_has_tags re_t ON re_t.real_estate_id = re.id
        LEFT JOIN tags t ON t.tag_name = re_t.tag_name
    </sql>

    <delete id="deleteById">
        DELETE FROM real_estates re WHERE re.id = #{realEstateId}
    </delete>

    <update id="update">
        UPDATE real_estates
        SET
        price = #{price},
        is_available = #{isAvailable},
        real_estate_description = #{description},
        real_estate_type = #{realEstateType},
        metrics = #{metrics},
        rooms = #{rooms}
        WHERE
        id = #{id}
    </update>

    <select id="findById" resultMap="RealEstateResultMap">
        <include refid="realEstateSelect"/>
        WHERE re.id = #{realEstateId}
    </select>

    <select id="findAll" resultMap="RealEstateResultMap">
        <include refid="realEstateSelect"/>
    </select>

    <resultMap id="RealEstateResultMap" type="com.solvd.domain.RealEstate" autoMapping="false">
        <id column="real_estate_id" property="id"/>
        <result column="price" property="price"/>
        <result column="is_available" property="isAvailable"/>
        <result column="real_estate_description" property="description"/>
        <result column="real_estate_type" property="realEstateType" javaType="com.solvd.domain.enums.RealEstateType"
                jdbcType="VARCHAR" />
        <result column="metrics" property="metrics"/>
        <result column="rooms" property="rooms"/>
        <association property="address" resultMap="com.solvd.persistence.AddressRepository.AddressResultMap"/>
        <association property="seller" resultMap="com.solvd.persistence.ClientRepository.ClientResultMap"/>
        <collection property="photos" resultMap="com.solvd.persistence.PhotoRepository.PhotoResultMap"/>
        <collection property="tags" resultMap="com.solvd.persistence.TagRepository.TagResultMap"/>
    </resultMap>
</mapper>